:root {
    --borderColor: #4b5842;
    --day: #3EC9FF;
    --night: #435f67;
    --sunset: #ff9d2e;
    --dawn: #645db8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#game-container {
    width: 100%;
    height: 65%;
    border: 10px solid var(--borderColor);
    box-sizing: border-box;
    border-radius: 1em;
    display: flex;
    transition: 5s;
}

#background {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg-layer {
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto;
    position: absolute;
    transition: 2.5s;
}

#day {
    opacity: 1;
    background-color: var(--day);
    background-image: url("../Assets/Icons/day.png");
}

#sunset {
    opacity: 0;
    background-color: var(--sunset);
    background-image: url("../Assets/Icons/sunset.png");
}

#night {
    opacity: 0;
    background-color: var(--night);
    background-image: url("../Assets/Icons/night.png");
}

#dawn {
    opacity: 0;
    background-color: var(--dawn);
    background-image: url("../Assets/Icons/dawn.png");
}

#center-col {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-col,
#left-col {
    flex-grow: 1;
    height: 100%;
}

#tutel {
    position: absolute;
    width: 100px;
}

.falling-object {
    width: 70px;
    height: 70px;
    position: absolute;
}

#score-placeholder {
    font-family: Rubik Spray Paint;
    font-size: 2.5em;
    position: absolute;
}

#heart-container {
    width: 15%;
    height: 6%;
    margin: 10px;
    position: absolute;
}

#heart {
    width: 30px;
}