<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <script type="module" src="Javascript/GameLogicModularized.js" defer></script>
    <title>Tutel Game</title>
</head>

<body>
    <div id="left-col">
    </div>
    <div id="center-col">
        <div id="game-container">
            <div id="heart-container">
                <img id="heart" src="../Assets/Icons/heartIcon.png" alt=""><img id="heart"
                    src="../Assets/Icons/heartIcon.png" alt=""><img id="heart" src="../Assets/Icons/heartIcon.png"
                    alt="">
            </div>
            <img id="tutel" src="../Assets/Icons/tutel-right.png" alt="">
        </div>
    </div>
    <img class="falling-object" hidden src="../Assets/Icons/tutel-right.png" alt="">
    <audio id="chompSFX" src="Assets/Audio/chomp.mp3"></audio>
    <div id="right-col">

    </div>
</body>

</html>