<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="Assets/Icons/tutel-right.png">
    <link rel="stylesheet" href="Styles/main.css">
    <script src="Javascript/assetLoader.js" defer></script>
    <script type="module" src="Javascript/Controller.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap" rel="stylesheet">

    <title>Tutel Game</title>
</head>

<body>
    <div id="background-container" class="bg-day">

    </div>
    <div id="main-container">
        <div id="left-col">
        </div>
        <div id="center-col">
            <div id="game-container">
                <div id="background">
                    <div id="restart"><span id="money">You gained <span id="dollar-sign">$<span
                                    id="gained-money"></span></span>!</span> <span id="restart-instruction">Press Space
                            to Restart</span>
                    </div>
                    <div id="pause">PAUSED!</div>
                    <div id="base" class="bg-layer"></div>
                    <div id="day" class="bg-layer"></div>
                    <div id="sunset" class="bg-layer"></div>
                    <div id="night" class="bg-layer"></div>
                    <div id="dawn" class="bg-layer"></div>
                </div>
                <div id="heart-container">
                    <img id="heart" src="../Assets/Icons/heartIcon.png" alt=""><img id="heart"
                        src="../Assets/Icons/heartIcon.png" alt=""><img id="heart" src="../Assets/Icons/heartIcon.png"
                        alt="">
                </div>
                <span id="score-placeholder">0</span>
                <img id="tutel" src="../Assets/Icons/tutel-right.png" alt="">
            </div>
        </div>
        <img class="falling-object" hidden src="../Assets/Icons/tutel-right.png" alt="">
        <audio id="chompSFX" src="Assets/Audio/chomp.mp3"></audio>
        <div id="right-col">

        </div>
    </div>
</body>

</html>